.wrapword{
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
      white-space: -webkit-pre-wrap;          /*Chrome & Safari */ 
      white-space: -pre-wrap;                 /* Opera 4-6 */
      white-space: -o-pre-wrap;               /* Opera 7 */
      white-space: pre-wrap;                  /* css-3 */
      word-wrap: break-word;                  /* Internet Explorer 5.5+ */
      word-break: break-all;
      white-space: normal;
    }
    .nowrapword{
      white-space: nowrap;
    }
    table, tr, th, td{
      border: 1px solid #000000;
    }
    table{
      width:100%;
    }
    tr{
      background-color: #cccccc;
    }
    td, th { 
      display: table-cell;
      vertical-align: top; 
      text-align: left;
      padding: 10px;
    }
    .line{
      background-color:#000000;
    }
